
.bloc1{
	background-color: yellow;
height: 400px;
width: 700px;
float: left;
margin: 10px
}

.bloc2{
	background-color: white;
height: 150px;
width: 400px;
float: left;
margin: 10px; 
}

.bloc3{
	background-color: green;
height: 400px;
width: 700px;
clear: both;
margin-left: 20px;
margin: 10px

}


